<template name="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <a href="http://www.pusheen.com/image/125874690361" target="_blank">
                        <img src="/pusheen_bake.gif" alt="Let's Bake !" class="img-reponsive"/>
                    </a>

                    <hr style="border-color: white;"/>

                    <p class="lead">
                        {{_ "realized_by"}} <a href="http://lefrantguillaume.com" target="_blank">Guillaume Lefrant</a>.
                    </p>

                    <p>
                        {{_ "dont_own"}} <a href="http://pusheen.com" target="_blank">Pusheen</a>
                        {{_ "and_font"}}
                        <a href="http://www.dafont.com/walt-disney.font" target="_blank">Justin Callaghan (on
                            DaFont)</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>