<template name="header">
    {{> affixNavbar}}

    <header>
        <div class="container">
            <h1>{{_ "website_title"}}</h1>
        </div>
    </header>

</template>

<template name="affixNavbar">
    <nav class="navbar navbar-default navbar-pusheen" role="navigation">
        <div class="navbar-inner container">
            <div class="navbar-left">
                <ul class="nav navbar-nav">

                    {{> loginButtons}}

                    <li>
                        <a role="button" data-toggle="collapse" href="#newRecipeDiv"
                           aria-expanded="false" aria-controls="newRecipe">
                            {{_ "new_recipe"}}
                        </a>
                    </li>
                </ul>
            </div>

            {{> search}}
        </div>
    </nav>
</template>

<template name="search">
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    {{#if isTimeoutRunning}}
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    {{else}}
                        <i class="glyphicon glyphicon-ok"></i>
                    {{/if}}
                </span>
                <input type="text" name="q" id="search" class="form-control" placeholder='{{_ "search"}}'
                       value="{{getSearchFromUrl}}"/>
            </div>
        </div>
    </form>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a class="btn btn-default btn-block" id="onlyMyRecipes">{{_ "my_recipes"}}</a>
    <a class="btn btn-default btn-block" id="changeLocale">
        {{{_ "switch_locale"}}}
    </a>
</template>